---
title: Pre-Order Zombie Bakery
---
{% from "macro/form.njk" import inputText %}
{% from "macro/form.njk" import inputEmail %}
{% from "macro/form.njk" import inputRadio %}

<form action="" method="post">
    <section class="form-section">
        <div class="qgroup quest-group">
            {#===NAMA===#}
            <div id="q-nama" class="qcollective quest-text">
                {{ inputText(
                    name = "inp-nama", 
                    type = "text", 
                    label = "Nama", 
                    desc = "Mohon masukkan nama yang sesuai dengan bukti pembayaran Anda.", 
                    placeholder ="Nama Anda",
                    required = true
                )}}
            </div>

            {#===EMAIL===#}
            <div id="q-email" class="qcollective quest-text">
                {{ inputEmail(
                    name1 = "inp-email1", 
                    name2 = "inp-email2", 
                    label = "Email", 
                    desc1 = "Mohon masukkan email aktif Anda. Ini akan menjadi sarana komunikasi utama.", 
                    desc2 = "Mohon ulangi email Anda", 
                    placeholder1 = "nama@email.com", 
                    placeholder2 = "nama@email.com", 
                    required = true
                )}}
            </div>
            
            {#===WA===#}
            <div id="q-whatsapp" class="qcollective quest-text">
                {{ inputText(
                    name = "inp-wa", 
                    type = "text", 
                    label = "Nomor WhatsApp", 
                    desc = "Mohon masukkan nomor WhatsApp yang dapat dihubungi. Awali nomor dengan 62-", 
                    placeholder ="62xxxxxxxxx",
                    required = true
                )}}
            </div>
            
            {#===MEDSOS===#}
            <div id="q-medsos" class="qcollective quest-text">
                {{ inputText(
                    name = "inp-medsos", 
                    type = "text", 
                    label = "Akun Media Sosial", 
                    desc = "Mohon masukkan akun media sosial yang bisa dihubungi. Apabila metode komunikasi lainnya tidak dapat digunakan, kami akan menghubungi Anda melalui media sosial Anda.", 
                    placeholder ="@username (platform)",
                    required = false
                )}}
            </div>
        </div>
        <div class="qgroup product-group">
            
        </div>        
        <div class="qgroup quest-group">
            {#===METODE===#}
            <div id="q-metode" class="qcollective quest-radio">
                {{ inputRadio(
                    type = "radio", 
                    name = "inp-metode", 
                    label = "Metode Pengiriman", 
                    desc = "Mohon pilih metode pengambilan barang Anda", 
                    choice = [
                        {
                            val: "kr", 
                            label: "Pengiriman"
                        },
                        {
                            val: "ps", 
                            label: "Pesta Komik Bandung"
                        }
                    ]
                )}}
            </div>
        </div>
    </section>

    <section class="form-section">
        <div class="qgroup quest-group">

        </div>
        <div class="qgroup address-group">

        </div>
        <div class="qgroup quest-group">

        </div>
    </section>

    <section class="form-section">
        <div class="qgroup quest-group">

        </div>
        <div class="qgroup quest-group">

        </div>
    </section>

    <section class="form-section">
        <div class="qgroup quest-group">

        </div>
        <div class="qgroup essay-group">

        </div>
    </section>
</form>