<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "parts/allHead.njk" %}
  </head>
  <body data-pageType="{{ pageType }}">
    <main id="awak-leungit">
        {{ content | safe }}
    </main>

  </body>
</html>