<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "parts/allHead.njk" %}
  </head>
  <body data-pageType="{{ pageType }}">
    {% include "parts/header.njk" %}

    {%- if heroImg -%}
      <hr>
      <div id="gambar-tukang">
        []
      </div>
    {%- endif -%}

    <hr>

    {{ content | safe }}

    <hr>

    {% include "parts/footer.njk" %}
  </body>
</html>