<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "allHead.njk" %}
  </head>
  <body>
    {% include "header.njk" %}

    <hr>

    <main id="awaktama">
      <article>
        <h2>
          {{ title }}
        </h2>
        <div id="awalan">
          <li>
            by <a href="{{ authorLink }}">{{ author }}</a>
          </li>
          <li>
            in {{ date }}
          </li>
          <li>
            on 
            <ul>
              {%- for cat in category -%}
              <li>
                #{{ cat }} 
              </li>
              {%- endfor %}
            </ul>
          </li>
        </div>
        <p id="deskripsitama">
          {{ description }}
        </p>
        <img src="" alt="">
      
        <div id="wadah-blog">
          {{ content | safe }}
        </div>
      </article>
    </main>

    <hr>

    {% include "footer.njk" %}
    <script src="/assets/javascript.js"></script>
  </body>
</html>