<footer id="sukutama">
    <div class="kokolom">
        <div class="kolom kiri">
            Budkalon's Personal Website
            Copyright&copy;2024, Budkalon Zetya. All rights reserved.
        </div>
        <div class="kolom kanan">
            <ul class="larink small">
                <li class="navan"><a href="mailto:budkalon.zetya+web@gmail.com">Email</a></li>
                <li class="navan"><a href="https://fb.com/budkalon">Facebook</a></li>
                <li class="navan"><a href="https://x.com/budkalon">Xwitter</a></li>
                <li class="navan"><a href="https://youtube.com/@budkalon">YouTube</a></li>
            </ul>
        </div>
    </div>
</footer>