<footer id="sukutama">
    <div class="kokolom">
        <div class="kolom kiri">
            Budkalon's Personal Website
            Copyright&copy;{{ tahunIni }}, Budkalon Zetya. All rights reserved.
        </div>
        <div class="kolom kanan">
            {% set socmed = [
                { 
                    href: 'mailto:budkalon.zetya+web@gmail.com', 
                    text: 'Email' 
                },
                { 
                    href: 'https://fb.com/budkalon', 
                    text: 'Facebook' 
                },
                { 
                    href: 'https://x.com/budkalon', 
                    text: 'Xwitter' 
                },
                { 
                    href: 'https://bsky.app/profile/budkalon.bsky.social', 
                    text: 'Bluesky' 
                },
                { 
                    href: 'https://youtube.com/@budkalon', 
                    text: 'YouTube' 
                }
            ] %}
            
            <ul class="larink small">
                {% for link in socmed %}
                    <li class="navan"><a target="_blank" href="{{ link.href }}">{{ link.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>
