<header id="hulutama">
    <div id="judulna">
        {%- if (pageType != "home") -%}
            <a href="/">Budkalon</a>
        {%- else -%}
        {%- endif -%}
    </div>
    <nav id="navigasina">
        {% set yourLinksArray = [
            { href: '/about', text: 'About' },
            { href: '/faq', text: 'FAQ' }
        ] %}
        {% include "list.njk" links=yourLinksArray %}
    </nav>
</header>