<header id="hulutama">
    <div id="judulna">
        {%- if (pageType != "home") -%}
            <a href="/">Budkalon</a>
        {%- else -%}
        {%- endif -%}
    </div>
    <nav id="navigasina">
        <ul id="larink">
            <li class="navan"><a href="/about">About</a></li>
            <li class="navan"><a href="/faq">FAQ</a></li>
        </ul>
    </nav>
</header>