<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "allHead.njk" %}
  </head>
  <body>
    {% include "header.njk" %}

    <main id="awaktama">
        {{ content | safe }}
    </main>

    {% include "footer.njk" %}
  </body>
</html>