{% from "macro/list.njk" import larink %}

<footer id="sukutama">
    <div class="kokolom">
        <div class="kolom kiri">
            Budkalon's Personal Website <br>
            Copyright&copy;{{ tahunIni }}, Budkalon Zetya. All rights reserved.
        </div>
        <div class="kolom kanan">
            <ul class="larink small">
                {% for link in data.author.socmed %}
                    {{ larink(
                        linkHref = link.href,
                        text = link.text,
                        target = link.target
                    ) }}
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>

<script src="/assets/javascript.js"></script>