{% from "macro/list.njk" import larink %}

<footer id="sukutama">
    <div id="wadah-suku" class="kokolom">
        <div class="kolom kiri">
            <p>
                Budkalon's Personal Website
            </p>
            <p>
                Copyright&copy;{{ tahunIni }}, Budkalon Zetya. All rights reserved.
            </p>
        </div>
        <div class="kolom kanan">
            <ul class="larink small">
                {% for link in data.author.socmed %}
                    {{ larink(
                        linkHref = link.href,
                        text = link.text,
                        target = link.target
                    ) }}
                {% endfor %}
                {% if pageType != 'home' %}
                    <li class="navan cta">
                        <a target="_blank" title="Commission me on VGen" href="https://vgen.co/budkalon">
                            Commission Me
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</footer>

<script src="/assets/javascript.js"></script>