{% from "macro/list.njk" import larink %}

<footer id="sukutama">
    <div class="kokolom">
        <div class="kolom kiri">
            Budkalon's Personal Website <br>
            Copyright&copy;{{ tahunIni }}, Budkalon Zetya. All rights reserved.
        </div>
        <div class="kolom kanan">
            {% set socmed = [
                { 
                    href: 'mailto:budkalon.zetya+web@gmail.com', 
                    text: 'Email',
                    target: '_blank'
                },
                { 
                    href: 'https://fb.com/budkalon', 
                    text: 'Facebook',
                    target: '_blank'
                },
                { 
                    href: 'https://x.com/budkalon', 
                    text: 'Xwitter',
                    target: '_blank' 
                },
                { 
                    href: 'https://bsky.app/profile/budkalon.bsky.social', 
                    text: 'Bluesky',
                    target: '_blank' 
                },
                { 
                    href: 'https://youtube.com/@budkalon', 
                    text: 'YouTube',
                    target: '_blank' 
                }
            ] %}
            
            <ul class="larink small">
                {% for link in socmed %}
                    {{ larink(
                        linkHref = link.href,
                        text = link.text,
                        target = link.target
                    ) }}
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>

<script src="/assets/javascript.js"></script>