<header id="hulutama">
    <div id="judulna">
        {%- if (pageType != "home") -%}
            <a href="/">Budkalon</a>
        {%- else -%}
        {%- endif -%}
    </div>
    <nav id="navigasina">
        <ul id="larink">
            {%- if "/about" in page.url -%}
            {%- else -%}
                <li class="navan"><a href="/about">About</a></li>
            {%- endif -%}

            {%- if "/faq" in page.url -%}
            {%- else -%}
                <li class="navan"><a href="/faq">FAQ</a></li>
            {%- endif -%}

            {%- if "/blog" in page.url -%}
            {%- else -%}
                <li class="navan"><a href="/blog">Blog</a></li>
            {%- endif -%}
            
        </ul>
    </nav>
</header>