---
layout: layouts/base.njk
pagination:
  data: collections.categories
  size: 1
  alias: category
permalink: /blog/category/{{ category | slugify }}/index.html
pageType: catIndex
title: Category
---
{% from "macro/list.njk" import artikel %}

<div id="wadah-intro">
  <nav id="breadcrumb">
    <a href="/blog">Blog</a> /
  </nav>
  <h1>
    {{ category }}
  </h1>
  <div id="wadah-deskripsi">
      <p id="deskripsinya">
        Category of "{{ category }}"
      </p>
      
      <div id="senarai-kategori">
          <ul class="totombol vertikal">
              {% for cat in collections.categories %}
                {% if cat != category %}
                    <li class="tombolan"><a title="{{ cat }}" href="/blog/category/{{ cat }}">{{ cat }}</a></li>
                {% endif %}
              {% endfor %}
          </ul>
      </div>
  </div>
</div>
<div id="wadah-senarai">
  {% for post in collections.post | reverse %}
  {% if post.data.categories == category %}
    {{ artikel(
      linkHref = post.url, 
      title = post.data.title, 
      date = post.date, 
      imgSrc = post.data.thumb, 
      category = post.data.categories, 
      imgAlt = post.data.thumbAlt, 
      author = post.data.author, 
      authorLink = post.data.authorLink, 
      desc = post.data.description,
      isCat = false
    ) }}
  {% endif %}
{% endfor %}
</div>






