---
title: Comic Works
layout: layouts/base.njk
pagination:
  data: collections.comic
  size: 2
  alias: posts
  reverse: true
permalink: /works/comic/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html
---
<section id="wadah-intro">
    <nav id="breadcrum">
        <span class="folderan">
            <a href="/">Home</a>
        </span>
        /
        <span class="folderan">
            <a href="/works">Works</a>
        </span>
    </nav>
    <h1>
        Comics
    </h1>
    <div id="wadah-deskripsi">
        <p id="deskripsinya">
            These are my comics hehe
        </p>
    </div>
</section>
<section id="wadah-senarai">
        {%- for post in posts -%}
                <article class="multiple">
                    <div id="gambar-komik">
                        <img src="{{ post.data.thumb }}" alt="{{ post.data.description }}">
                    </div>
                    <h3>
                        <a href="{{ post.url }}" title="{{ post.data.title }}">
                        {{ post.data.title }}
                    </a>
                    </h3>  
                    <div id="detail-komik">
                        <span id="jenis-komik">
                            {{ post.data.comicType }}
                        </span>
                        <span id="stat-komik">
                            {{ post.data.status }}
                        </span>
                        <span id="rating-komik">
                            {{ post.data.rating }}
                        </span>
                        <span id="genre-komik">
                          <ul class="list-kotak">
                            {%- for gen in post.data.genre -%}
                              <li>
                                {{ gen }} 
                              </li>
                            {%- endfor %}
                          </ul>
                        </span>
                      </div>    
                    <p>
                        {{ post.data.description }}
                    </p>
                </article>
        {%- endfor -%}
</section>
 
{% if pagination.href.previous or pagination.href.next %}
    <div id="lalaman">
        {% if pagination.href.previous %}
            <a href=" {{ pagination.href.previous }}">Previous</a>
        {% endif %} 
        
        {% if pagination.href.previous and pagination.href.next %}
            / 
        {% endif %} 
        
        {% if pagination.href.next %}
            <a href=" {{ pagination.href.next }}">Next</a>
        {% endif %}
    </div>
{% endif %} 

