---
title: Comic Works
layout: layouts/base.njk
pageType: workComic
heroImg: heroImg.jpg
thumb: imageComic.jpg
pageCollective: multiple
pagination:
  data: collections.comic
  size: 2
  alias: posts
  reverse: true
permalink: /works/comic/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html
---
<section id="wadah-intro">
    <nav id="breadcrum">
        <span class="folderan">
            <a href="/">Home</a>
        </span>
        /
        <span class="folderan">
            <a href="/works">Works</a>
        </span>
    </nav>
    <h1>
        Comics
    </h1>
    <div id="wadah-deskripsi">
        <p id="deskripsinya">
            These are my comics hehe
        </p>
    </div>
</section>
<section id="wadah-senarai">
        {%- for post in posts -%}
                <article class="multiple">
                    <div class="gambar-komik">
                        <div class="sampul-komik">
                            <img src="{{ post.data.thumb.def }}" alt="{{ post.data.description }}">
                        </div>
                        <div class="preview-komik">
                            <ul>
                                {%- for prev in post.data.preview -%}
                                <li>
                                    <img src="{{ prev.img }}" alt="{{ prev.cap }}">
                                </li>
                                {%- endfor %}
                            </ul>
                        </div>
                    </div>
                    <h3>
                        <a href="{{ post.url }}" title="{{ post.data.title }}">
                        {{ post.data.title }}
                    </a>
                    </h3>  
                    <div class="detail-komik">
                        <span class="bahasa-komik">
                            {{ post.data.language }}
                        </span>
                        <span class="jenis-komik">
                            {{ post.data.comicType }}
                        </span>
                        <span class="stat-komik">
                            {{ post.data.status }}
                        </span>
                        <span class="rating-komik">
                            {{ post.data.rating }}
                        </span>
                    </div>    
                    <p>
                        {{ post.data.description }}
                    </p>
                    <div class="genre-komik">
                        <ul class="list-kotak">
                            {%- for gen in post.data.genre -%}
                            <li>
                                {{ gen }} 
                            </li>
                            {%- endfor %}
                        </ul>
                    </div>
                </article>
        {%- endfor -%}
</section>
 
{% if pagination.href.previous or pagination.href.next %}
    <div id="lalaman">
        {% if pagination.href.previous %}
            <a title="previous page" href=" {{ pagination.href.previous }}">Previous</a>
        {% endif %} 
        
        {% if pagination.href.previous and pagination.href.next %}
            / 
        {% endif %} 
        
        {% if pagination.href.next %}
            <a title="next page" href=" {{ pagination.href.next }}">Next</a>
        {% endif %}
    </div>
{% endif %} 

