{% macro larink(linkHref, text='link', target='_self') %}
    <li class="navan"><a target="{{ target }}" title="{{ text }}" href="{{ linkHref }}">{{ text }}</a></li>
{% endmacro %}

<!--GALERI-->
{% macro galeri(linkHref, linkTitle, imgSrc, imgAlt, imgCap, imgDesc) %}
    <li class="keluku">
        <a href="{{ linkHref }}" title="{{ linkTitle }}">
            <div class="wadah-img">
                <img src="{{ imgSrc }}" alt="{{ imgAlt }}">
            </div>
            <div class="wadah-takarir">
                <p class="hulu-taka">
                    {{ imgCap }}
                </p>
                <p>
                    {{ imgDesc }}
                </p>
            </div>
        </a>
    </li>
{% endmacro %}

<!--ARTIKEL-->
{% macro artikel(linkHref, title, category, date, imgSrc, imgAlt, author, authorLink, desc, isCat = true, coll = 'multiple') %}
<article class="{{ coll }}">
    {%- if (isCat) -%}
        <a href="/blog/category/{{ category }}">{{ category }}</a> >
    {%- else -%}
    {%- endif -%}
    <h3>
        <a href="{{ linkHref }}" title="{{ title }}">
            {{ title }}
        </a>
    </h3>
    <ul>
        <li>
            on {{ date | postDate }}
        </li>
        <li>
            by <a href="{{ authorLink }}">{{ author }}</a>
        </li>
    </ul>
    <p>
        {{ desc }}
    </p>
</article>
{% endmacro %}


