<!DOCTYPE html>
<html lang="{{ lang | default('en') }}">
  <head>
    {% include "parts/allHead.njk" %}
  </head>
  <body data-pageType="{{ pageType }}">
    {% include "parts/header.njk" %}

    <main id="awaktama">
      {%- if heroImg -%}
          <section id="beungeut">
              []
          </section>
          <section id="catang">
      {%- endif -%}

      {{ content | safe }}
  
      {%- if heroImg -%}
          </section>
      {%- endif -%}
    </main>

    {% include "parts/footer.njk" %}
  </body>
</html>