---
layout: layouts/base.njk
---
    <main id="awaktama">
      {{ pageType }}
      <h2 id="judultama">{{ title }}</h2>
      <img src="{{ img }}" alt="{{ description }}">
      <p>
        {{ description }}
      </p>
      <article>
        {{ content | safe }}
      </article>
    </main>