---
layout: layouts/base.njk
---
<article class="{{ pageCollective }}">
    <h1 id="judultama">
        {{ title }}
    </h1>
    <div id="wadah-konten">
        {{ content | safe }}
    </div>
</article>