<p>
    Several comic works I created since 2017. The majority of them are black and white, but I have also sometimes experimenting with colored comics.
</p>
<p>
    I have kept the language in each comic unchanged from the original story as the word-choices played a big role in determining how I storyboarded them. However, I provide a brief description of each comic on its dedicated page.
</p> 