<p>
    My main hobby is actually doing fantasy worldbuilding. My main worldbuilding project is Tagalbuni, but there are also several other projects I am currently developing.
</p>
<p>
    The project consists of many aspects of worldbuilding: cartography, magic and technology systems, culture and language, and also some speculative biology.
</p>