---
layout: layouts/base.njk
pagination:
  data: collections.illus
  size: 1
  alias: milus
  reverse: true
eleventyComputed:
  title: "{{ milus.data.title | slugify }}"
---
{#
permalink: /works/illustration/{{ milus.data.title | slugify }}/index.html
#}
{{pagination.href.previous}}
{{pagination.href.next}}
        <h1>{{ milus.data.title }}</h1>
        <img src="{{ milus.data.thumb }}" alt="">
        <p>
            {{ milus.data.description }}
        </p>

{% if pagination.href.previous or pagination.href.next %}
    <div id="lalaman">
        {% if pagination.href.previous %}
            <a href=" {{ pagination.href.previous }}">Previous</a>
        {% endif %} 
        
        {% if pagination.href.previous and pagination.href.next %}
            / 
        {% endif %} 
        
        {% if pagination.href.next %}
            <a href=" {{ pagination.href.next }}">Next</a>
        {% endif %}
    </div>
{% endif %} 