---
title: Blog
layout: blogList.njk
pageType: blogIndex
heroImg: true
---
<h1>Blog</h1>
<div id="wadah-artikel">
    {%- for post in collections.post -%}
        <article>
            <h3>
                {{ post.data.category }} >
                <a href="{{ post.url }}" title="{{ post.data.title }}">
                    {{ post.data.title }}
                </a>
            </h3>
            
            {{ post.date | postDate }}
            <p>
                by <a href="{{ post.data.authorLink }}">{{ post.data.author }}</a>
            </p>
            <p>
                {{ post.data.description }}
            </p>
        </article>
        <hr>
    {%- endfor -%}
</div>