---
title: Blog
layout: layouts/blogList.njk
pageType: blogIndex
heroImg: heroImg.jpg
thumb: imageBlog.jpg
pageCollective: multiple
pagination:
  data: collections.post
  size: 2
  alias: posts
  reverse: true
permalink: /blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html
---
{% from "macro/list.njk" import artikel %}

<div id="wadah-artikel">
    {%- for post in posts -%}
        {{ artikel(
            linkHref = post.url, 
            title = post.data.title, 
            category = post.data.categories, 
            date = post.date, 
            imgSrc = post.data.thumb, 
            imgAlt = post.data.thumbAlt, 
            author = post.data.author, 
            authorLink = post.data.authorLink, 
            desc = post.data.description,
            thumb = post.data.thumb
        ) }}
    {%- endfor -%}
    <hr>
</div>

{#{{ pagination.pageNumber + 1 }}#}
{% if pagination.href.previous or pagination.href.next %}
    <div id="lalaman">
        {% if pagination.href.previous %}
            <a href=" {{ pagination.href.previous }}">Previous</a>
        {% endif %} 
        
        {% if pagination.href.previous and pagination.href.next %}
            / 
        {% endif %} 
        
        {% if pagination.href.next %}
            <a href=" {{ pagination.href.next }}">Next</a>
        {% endif %}
    </div>
{% endif %} 
<hr>