<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Budkalon's Personal Website</title>
</head>

<body>
	<div id="nyawatama">
		{% include 'header.njk' %}

		<section id="awaktama">
			<section id="beungeut">
				<div id="calawakan" class="kokolom">
					<div class="kolom kiri">
						<div id="kumenal">
							<h1>Budkalon</h1>
							<p class="kecil">/bud.ka.lo:n/</p>
							<p>A comic artist who loves Nusantara cultures and spend too much time on doing worldbuilding, conlanging, and illustration.</p>
							<ul class="totombol vertikal">
								<li class="tombolan"><a title="my works" href="#catang">Works</a></li>
								<li class="tombolan"><a title="my VGen page" href="https://vgen.co/budkalon" target="_blank">Commission</a></li>
							</ul>
						</div>
						<div id="kumeklik">
							<ul class="totombol">
								<li class="tombolan"><a title="contact me on my email" href="mailto:budkalon.zetya+web@gmail.com">Email</a></li>
								<li class="tombolan"><a title="contact me on my facebook" href="https://fb.com/budkalon">Facebook</a></li>
								<li class="tombolan"><a title="contact me on my xwitter" href="https://x.com/budkalon">Xwitter</a></li>
								<li class="tombolan"><a title="contact me on my youtube" href="https://youtube.com/@budkalon">YouTube</a></li>
							</ul>
						</div>
					</div>
					<div class="kolom kanan kosong">
						[all in one]
					</div>
				</div>
			</section>

			<section id="catang">
				<div id="catanghulu">
					<h2>My Works</h2>
					<p>I mainly work on three things: Comic, Illustration, and Worldbuilding.</p>
					<ul class="totombol">
						<li class="tombolan"><a href="#gawe-komik">Comic</a></li>
						<li class="tombolan"><a href="#gawe-gambar">Illustration</a></li>
						<li class="tombolan"><a href="#gawe-cipbun">Worldbuilding</a></li>
					</ul>
				</div>
				<div id="catangisi">
					<div id="gawe-komik" class="gawe-hareup">
						<h3>Comic</h3>
						<p>Several comics I made between 2018--present. I keep the language as it is since the language I used for the comic is the one that I intended on the planning.</p>
						<div id="galeri-komik" class="galeri">
							<ul class="galeri sama sizeA4 port">
								<li class="keluku">
									<a href="" title="">
										<div class="wadah-img">
											<img src="" alt="">
										</div>
										<div class="wadah-takarir">
											<p class="hulu-taka">
												
											</p>
											<p>

											</p>
										</div>
									</a>
								</li>
								<li class="keluku">
									<a href="" title="">
										<div class="wadah-img">
											<img src="" alt="">
										</div>
										<div class="wadah-takarir">
											<p class="hulu-taka">
												
											</p>
											<p>

											</p>
										</div>
									</a>
								</li>
								<li class="keluku">
									<a href="" title="">
										<div class="wadah-img">
											<img src="" alt="">
										</div>
										<div class="wadah-takarir">
											<p class="hulu-taka">
												
											</p>
											<p>

											</p>
										</div>
									</a>
								</li>
								<li class="keluku">
									<a href="" title="">
										<div class="wadah-img">
											<img src="" alt="">
										</div>
										<div class="wadah-takarir">
											<p class="hulu-taka">
												
											</p>
											<p>

											</p>
										</div>
									</a>
								</li>
								<li class="keluku">
									<a href="" title="">
										<div class="wadah-img">
											<img src="" alt="">
										</div>
										<div class="wadah-takarir">
											<p class="hulu-taka">
												
											</p>
											<p>

											</p>
										</div>
									</a>
								</li>
								<li class="keluku">
									<a href="" title="">
										<div class="wadah-img">
											<img src="" alt="">
										</div>
										<div class="wadah-takarir">
											<p class="hulu-taka">
												
											</p>
											<p>

											</p>
										</div>
									</a>
								</li>
							</ul>
						</div>
						<p class="more-gawe"><a href="/works/comic">more comic works ></a></p>
					</div>
					<div id="gawe-gambar" class="gawe-hareup">
						<h3>Illustration</h3>
						<p>I have several kind of rendering styles.</p>
						<div id="galeri-gambar" class="galeri">
							<ul class="galeri">
								<li class="keluku">
									<a href="" title="">
										<div class="wadah-img">
											<img src="" alt="">
										</div>
										<div class="wadah-takarir">
											<p class="hulu-taka">
												
											</p>
											<p>

											</p>
										</div>
									</a>
								</li>
								<li class="keluku">
									<a href="" title="">
										<div class="wadah-img">
											<img src="" alt="">
										</div>
										<div class="wadah-takarir">
											<p class="hulu-taka">
												
											</p>
											<p>

											</p>
										</div>
									</a>
								</li>
								<li class="keluku">
									<a href="" title="">
										<div class="wadah-img">
											<img src="" alt="">
										</div>
										<div class="wadah-takarir">
											<p class="hulu-taka">
												
											</p>
											<p>

											</p>
										</div>
									</a>
								</li>
								<li class="keluku">
									<a href="" title="">
										<div class="wadah-img">
											<img src="" alt="">
										</div>
										<div class="wadah-takarir">
											<p class="hulu-taka">
												
											</p>
											<p>

											</p>
										</div>
									</a>
								</li>
								<li class="keluku">
									<a href="" title="">
										<div class="wadah-img">
											<img src="" alt="">
										</div>
										<div class="wadah-takarir">
											<p class="hulu-taka">
												
											</p>
											<p>

											</p>
										</div>
									</a>
								</li>
								<li class="keluku">
									<a href="" title="">
										<div class="wadah-img">
											<img src="" alt="">
										</div>
										<div class="wadah-takarir">
											<p class="hulu-taka">
												
											</p>
											<p>

											</p>
										</div>
									</a>
								</li>
							</ul>
						</div>
						<p class="more-gawe"><a href="/works/illustration">more illustration works ></a></p>
					</div>
					<div id="gawe-cipbun" class="gawe-hareup">
						<h3>Worldbuilding</h3>
						<p>My main hobby is actually doing fantasy worldbuilding. My main worldbuilding project is Tagalbuni, but there are also several other projects I am currently developing.</p>
						<div id="galeri-cipbun" class="galeri">
							<ul class="galeri size16-19">
								<li class="keluku">
									<a href="" title="">
										<div class="wadah-img">
											<img src="" alt="">
										</div>
										<div class="wadah-takarir">
											<p class="hulu-taka">
												
											</p>
											<p>

											</p>
										</div>
									</a>
								</li>
								<li class="keluku">
									<a href="" title="">
										<div class="wadah-img">
											<img src="" alt="">
										</div>
										<div class="wadah-takarir">
											<p class="hulu-taka">
												
											</p>
											<p>

											</p>
										</div>
									</a>
								</li>
								<li class="keluku">
									<a href="" title="">
										<div class="wadah-img">
											<img src="" alt="">
										</div>
										<div class="wadah-takarir">
											<p class="hulu-taka">
												
											</p>
											<p>

											</p>
										</div>
									</a>
								</li>
								<li class="keluku">
									<a href="" title="">
										<div class="wadah-img">
											<img src="" alt="">
										</div>
										<div class="wadah-takarir">
											<p class="hulu-taka">
												
											</p>
											<p>

											</p>
										</div>
									</a>
								</li>
								<li class="keluku">
									<a href="" title="">
										<div class="wadah-img">
											<img src="" alt="">
										</div>
										<div class="wadah-takarir">
											<p class="hulu-taka">
												
											</p>
											<p>

											</p>
										</div>
									</a>
								</li>
								<li class="keluku">
									<a href="" title="">
										<div class="wadah-img">
											<img src="" alt="">
										</div>
										<div class="wadah-takarir">
											<p class="hulu-taka">
												
											</p>
											<p>

											</p>
										</div>
									</a>
								</li>
							</ul>
						</div>
						<p class="more-gawe"><a href="/works/worldbuilding">more worldbuilding works ></a></p>
					</div>
				</div>
			</section>
		</section>

		<footer id="sukutama">
			<div class="kokolom">
				<div class="kolom kiri">
                    Budkalon's Personal Website
					Copyright&copy;2024, Budkalon Zetya. All rights reserved.
				</div>
				<div class="kolom kanan">
					<ul class="larink small">
                        <li class="navan"><a href="mailto:budkalon.zetya+web@gmail.com">Email</a></li>
                        <li class="navan"><a href="https://fb.com/budkalon">Facebook</a></li>
                        <li class="navan"><a href="https://x.com/budkalon">Xwitter</a></li>
                        <li class="navan"><a href="https://youtube.com/@budkalon">YouTube</a></li>
                    </ul>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>
